@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* sizes */
  --square-size: 70px;
  --board-size: calc(var(--square-size) * 3);
  --x-mark-size: calc(var(--square-size) * .9);
  --o-mark-size: calc(var(--x-mark-size) * .8);
  --mark-stroke: calc(var(--x-mark-size) * .06);
  --grid-stroke: 1px;

  /* colors */
  --background-color: #3498db;
  --header-background-color: white;
  --header-text-color: #2980b9;
  --text-color: white;
  --board-grid-color: #5dade2;
  --mark-color: white;
  --dim-mark-color: var(--board-grid-color);
}

body {
  background-color: var(--background-color);
  font-family: 'Muli', 'Segoe UI', sans-serif;
}

.app {
  width: 250px;
  margin: auto;
}

.header {
  background: var(--header-background-color);
  text-align: center;
  margin: 50px auto;
  font-size: 32px;
  color: var(--header-text-color);
  box-shadow: 0px 2px 1px 0px var(--header-text-color);
}

.board {
  width: var(--board-size);
  height: var(--board-size);
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
}

.square {
  background: none;
  width: var(--square-size);
  height: var(--square-size);
  border: var(--grid-stroke) solid var(--board-grid-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .5s;
  cursor: pointer;
}

.square:disabled {
  cursor: default;
}

/* removing outer borders */

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

.square:nth-child(3n + 1) {
  border-left: none;
}

.square:nth-child(3n) {
  border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:last-child {
  border-bottom: none;
}

/* shaping marks */

.mark {
  position: absolute;
}

.mark.o {
  width: var(--o-mark-size);
  height: var(--o-mark-size);
  border: var(--mark-stroke) solid var(--mark-color);
  border-radius: 50%;
}

.mark.x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark.x::before,
.mark.x::after {
  content: '';
  position: absolute;
  width: var(--mark-stroke);
  height: var(--x-mark-size);
  background: var(--mark-color);
}

.mark.x::before {
  transform: rotate(45deg);
}

.mark.x::after {
  transform: rotate(-45deg);
}

/* hover marks */

.mark.invisible {
  opacity: 0;
}

.mark.invisible.o {
    border-color: var(--dim-mark-color);
}

.mark.invisible.x::before,
.mark.invisible.x::after {
    background: var(--dim-mark-color);
}

.square:hover .mark {
  opacity: 1;
}

/* game over mark dimming */

@keyframes dim-o {
  from {border-color: var(--mark-color)}
  to {border-color: var(--dim-mark-color)}
}

@keyframes dim-x {
  from {background: var(--mark-color)}
  to {background: var(--dim-mark-color)}
}

.mark.dimmed.x:before,
.mark.dimmed.x:after {
  animation: dim-x ease-out .5s forwards;
}

.mark.dimmed.o {
  animation: dim-o ease-out .5s forwards;
}

/* restart button */

@keyframes move-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move-down {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
  }
}

.restart-container {
  display: flex;
  justify-content: center;
}

.restart-button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
  translate: translateY(50px);
}

.restart-button:hover {
  text-decoration: underline;
}

.restart-button:active {
  opacity: .8;
}

.restart-button.visible {
  visibility: hidden;
  animation: move-up ease-out .2s forwards;
  animation-delay: .5s;
}

.restart-button.hidden {
  cursor: default;
  animation: move-down ease-out .2s forwards;
  animation-delay: .5s;
}